
      <div class="card card-detail">
      
        <div class="iapp-detail-image-wrap">
        </div>
      
        <div class="close-card">
            <img class="iapp-close-card-inner" src="http://www.gannett-cdn.com/experiments/usatoday/2015/02/red-carpet/img/close-icon.svg">
            
            </img>
        </div>
      
      
      
        <div class="iapp-detail-info">
            <h2 class="card-back-header"><%= artist %> </h2>
            <p class="iapp-summary"><%= genre %></p>
            <table class="table">
                <thead>
                    
                    <tr>
                        <th>Festival</th>
                        <th>Date</th>
                        <th>Location</th>
                    </tr>

                </thead>
                <tbody>
                    
            <% _.each(festivals, function(festival) { %>
                <tr class="iapp-card-back-detail-appearance">
                    <td class="iapp-card-back-detail-appearance-date"><%=festival.full_name%></td><td class="iapp-card-back-detail-appearance-network"></td><td></td><td class="iapp-card-back-detail-description"></td>
                </tr>
            
            <%})%>

                </tbody>
            </table>
        </div>
      
      
      </div>
      
        <div class="iapp-detail-bg"></div> 

