.iapp-festival-info-wrap {
    font-family: "Futura Today DemiBold", Arial, sans-serif;
    margin-bottom: 2em;
    max-width: 90%;
    padding: 0 2em;
}

.iapp-festival-name-header {
    font-size: 2em;
}

.iapp-festival-location, .iapp-festival-date, .iapp-festival-info {
    display: inline;
    font-family: "Futura Today Normal", Arial, sans-serif;
    font-size: 1.4em;
    margin: 0.25em 0;
}

.iapp-festival-detail-info {
    // max-width: calc(100% - 110px);
    // width: 500px;
}


